<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Index page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${defName} + '!'" />
<div>
    <p>User list</p>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="users: ${userList}">
            <td th:text="${users.id}"></td>
            <td th:text="${users.name}"></td>
            <td th:text="${users.email}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <form method="post">
            <input type="text" name="userName" placeholder="Введите имя пользователя">
            <input type="text" name="userEmail" placeholder="Введите почту пользователя">
            <button type="submit">Добавить</button>
        </form>
    </div>
</div>
</body>
</html>